.InputBox {
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.InputBox label {
  display: flex;
}

.Icon {
  margin-right: 10px;
  color: #828282;
}

.Input {
  outline: none;
  border: none;
}